@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	background: linear-gradient(to right, #4D4D4D, #252525);
  //background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); //linear-gradient(to right, #4D4D4D, #252525);
	font-family: Ubuntu, sans-serif;
	overflow-y:scroll;
}  

.container {
	overflow:hidden;
	p {
		margin:0 auto;
		text-align:center;
		width:100%;
		font-family: 'Quicksand', sans-serif;
		font-size:40px;
		text-transform: none;
		color:white;
	}
}

.masonry-container{
	width: 100%;
	margin: auto;
	margin-top: 70px;
	border: 0px solid rgba(0,0,0,.1);
}
.masonry{
	transition: all .3s ease-in-out;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	margin: auto;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex: 1 0;
}
.tile-container {
	margin-bottom:-5px;
}
.tile{
	margin: 10px;
	position: relative;
	font-size:26px;
	overflow:hidden;
	z-index: 1;
	transition: all .1s ease-in-out;
	.picture {
		margin-bottom:-7px;
		img {
			border-radius: 1px;
      width: 150%;
		}
	}
	.details {
		transition: all .1s ease-in-out;
		position:absolute;
		font-family: 'Quicksand', sans-serif;
		font-weight: bold;
		font-size:20px;
		right:0;
		left:0;
		bottom:10%;
		padding:20px;
		display:flex;
		justify-content: center;
		align-items: center;
		color:white;
		opacity:.9;
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
		//background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(204, 204, 204, 0.6));
		//background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

		// &:hover {
		// 	font-size:24px;
		// 	opacity:1;
		// }

		p {
			margin:0 auto !important;
			font-weight: bold;
			font-size:20px;
			text-align:left !important;
			font-family: 'Quicksand', sans-serif;
			color:white;
		}

		.title {
			clear:both;
		}

		.tag {
			border: 0px;
			padding: 3px;
			background: rgba(204, 204, 204, 0.2);
			//background: rgba(46, 150, 224, 0.3);
			text-align:center;
			color:white;
			float:left;
			font-size:12px;
			margin:2px;

			&.green {
				background: rgba(38, 230, 30, 0.5);
			}

			&.blue {
				//background: rgba(3, 93, 228, 0.2);
				background: rgba(46, 150, 224, 0.5);
			}

			&.yellow {
				background: rgba(238, 234, 3, 0.5);
			}
		}
	}
	&:hover {
		//font-size:24px;
		opacity:1;
		transform: scale(1.05);
		-webkit-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
		z-index: 1000;
		cursor:pointer;
	}
}

.blur {
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-about-me {
	top:40% !important;
}

.modal {
	transition: all .3s ease-in;
	animation: fadeIn .3s ease-in;
	color:white;
	padding:10px;
	z-index:5000;
	position: fixed;
	top:50%;
	left:50%;
	width:80%;
	height:50%;
	transform: translateX(-50%) translateY(-50%);
	//width:80%;
	background:rgba(0, 0, 0, 0.0);
	//background:linear-gradient(to right, #111111, #252525);
	border-radius:5px;
}

@keyframes fadeIn {
	from {
		//transform: scale(.85) translateX(-50%) translateY(-50%);
		opacity:0;
	}
	to {
		//transform: scale(1) translateX(-50%) translateY(-50%);
		opacity:1;
	}
}

.modal-background {
	transition: all .3s ease-in-out;
	animation: fadeIn .3s ease-in-out;
	position: fixed;
	z-index:3000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0, 0, 0, 0.5);
}

[class*='close-'] {
  color: white;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
	top: 5px;
	z-index:4000;
}

[class*='close-']:hover {
	color:#777;
	text-shadow: 0 1px 0 black;
}

.close-thick:after {
	content: '✖'; /* UTF-8 symbol */
	zoom:150%;
}

.image-container {
	position:absolute;
	top:10px;
	left:10px;
	bottom:200px;
	right:10px;
	overflow:hidden;
}

.text-container {
	position: absolute;
	bottom:10px;
	top:10px;
	left:10px;
	right:10px;
	color:white;
	h2 {
		margin-bottom:20px;
	}
	p {
		margin:0 auto;
		text-align:left;
		width:100%;
		font-family: 'Quicksand', sans-serif;
		font-size:16px;
		color:white;
	}
}

.small-text {
	font-size: 16px !important;
}

span {
	display:block;
}

.btn {
	text-transform: uppercase; 
	box-sizing: border-box;
	display:flex;
	flex: 1 0;
	font-size:14px;
	border: 0px;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background:black;
	color:#aaa;
}

.buttons {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	position: fixed;
	z-index:20000;
	top:0;
	right:0;
	left:0;
	line-height:45px;
	height:60px;
	-webkit-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.75);
}

.btn:hover {
	cursor: pointer;
	border-bottom: 2px solid rgb(46, 150, 224);
}

.btn-link {
	margin-top:20px;
	margin-right:5px;
	border: none;
	padding: 12px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color:white;
	background: rgb(46, 150, 224);
	cursor: pointer;
}

.btn-link:hover {
	color:#ccc;
}

.btn.blue {
	color:rgb(46, 150, 224);
}

.hidden {
	display:none;
}

.about-me {
	width:50%;
	margin-bottom:20px;
	margin-right:20px;
	float:left;
}

.footer-container {
	position: absolute;
	/* bottom: 0; */
	margin-top: 20px;
	height: 30px;
	padding-top: 9px;
	opacity:.7;
	background: black;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.footer {
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	color: white;
	height: 30px;
	font-size: x-small;
	text-align: center;
}

@media only screen and (max-device-width: 710px) {
	.djfull {
		display:none;
	}

	.djabv {
		display:inherit;
		align-items: center;
		justify-content: center;
		font-size:45px !important;
	}

	.lifull {
		display:none;
	}

	.liabv {
		display:inherit;
		align-items: center;
    justify-content: center;
	}

	.sofull {
		display:none;
	}

	.soabv {
		display:inherit;
		align-items: center;
    justify-content: center;
	}

	.masonry {
		display:inherit;
	}

	.small-text {
		font-size:36px !important;
	}

	span {
		font-size:56px !important;
	}

	.tag {
		font-size:30px !important;
	}

	.buttons {
		height:200px;
		line-height:190px;
	}

	.btn {
		font-size:40px;
	}

	.btn-link {
		width:40%;
		font-size:30px;
	}

	.close-thick:after {
		content: '✖'; /* UTF-8 symbol */
		zoom:400%;
	}

	[class*='close-'] {
		color: white;
		text-shadow: 0 1px 0 black;
	}
	
	[class*='close-']:hover {
		color:#777;
		text-shadow: 0 1px 0 black;
	}

	.text-container h2 {
		font-size:60px;
	}
}

@media only screen and (max-width: 930px) {
	.djfull {
		display:none;
	}

	.djabv {
		display:inherit;
		align-items: center;
    justify-content: center;
	}

	.lifull {
		display:none;
	}

	.liabv {
		display:inherit;
		align-items: center;
    justify-content: center;
	}

	.sofull {
		display:none;
	}

	.soabv {
		display:inherit;
		align-items: center;
    justify-content: center;
	}
}

@media only screen and (max-device-width: 930px) {
	.container p {
		font-size:30px;
	}
}
